body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
	margin: 0px;
    background-image: url("img/Background.jpg");
}

#content {
    max-width: 960px;
    margin: auto;
	padding: 10px;
    background-color: beige;
    opacity: 0.95;
}

#title {
    font-size: 4em;
    font-weight: bold;
    padding: 0.5em 16px 1em 16px;
}

#loading {
    height: 1em;
    display: inline-block;
    float: right;
}

@media (min-width: 640px) {
    #candidates_section, #map, #candidates {
        display: flex;
        flex: 1;
    }
}

svg {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.num {
    text-align: right;
}

table {
    border: 3px solid lightgrey;
    width: 100%;
}

.thin {
    min-width: 4em;
    max-width: 4em;
    /* display: none; */
}

th.thin{
    transform: rotate(-60deg);
    height: 110px;
}

tbody tr:nth-child(even) {
    background-color: lightgrey;
}

tbody tr:hover {
    background-color: orange;
}

@media (max-width: 640px) {
    td:nth-child(3),
    th:nth-child(3),
    td:nth-child(4),
    th:nth-child(4),
    td:nth-child(5),
    th:nth-child(5),
    td:nth-child(7),
    th:nth-child(7),
    td:nth-child(12),
    th:nth-child(12),
    td:nth-child(14),
    th:nth-child(14),
    td:nth-child(10),
    th:nth-child(10),
    td:nth-child(11),
    th:nth-child(11) {
        display:none;
    }
}

.bars {
    width: 100px;
}

.cand_bar {
    float: left;
    height: 1em;
}

form {
    display: inline;
}

nav {
	text-align: right;
	padding: 8px;
}

#login {
    text-align: right;
}

#msg {
    color: red;
    font-weight: bold;
	display: inline;
}

#logged_in, #logged_out {
	display: none;
}

#register_form_shadow {
	display: none;
	position: fixed;
	background-color: black;
	opacity: 0.2;
	width: 100%;
	height: 100%;
}

#register_form, #edit_form{
	display: none;
	position: absolute;
	margin: auto;
	width: 600px;
	height: 400px;
	padding: 100px;
    z-index: 999;
}

#register_form form, #edit_form form {
	display: block;
	background-color: white;
	margin: auto;
	padding: 60px;
}

#register_form form div {
	margin: 20px;
}

.thin input {
    width: 85%;
    position: relative;
}